<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
    <% if @user != current_user %>
    <%= link_to 'Add Friend', add_friend_path(:friend_id => @user)%>
    <% else %>
    <% end %>
    <% if @user == current_user %>    
     <h2>Friends</h2>
     <ul>
     <% current_user.friends.each do |friend| %>
      <li><span class="posts"> 
      <%= friend.name %>  
      <%= link_to 'Remove Friend', friendships_destroy_path(:friend_id => friend) %>
      </li> 
    <% end %>
    <% current_user.inverse_friends.each do |friend| %>
      <li><span class="posts"> 
      <%= friend.name %>  
      <%= link_to 'Remove Friend', friendships_destroy_path(:friend_id => friend) %>
      </li> 
    <% end %>
    </ul>
    <% else %>
    <% end %>
  </article>
</section>
