<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
    <% if @user != current_user %>
    <%= link_to 'Add Friend', add_friend_path(:friend_id => @user)%>
    <% else %>
    <% end %>
    <% if @user == current_user %>    
     <h3>Friends</h3>
     <% current_user.friends.each do |friend| %>
      <tr>
        <td><%= friend.name %> <%= link_to 'remove', friendships_destroy_path(:friend_id => friend) %> </td>
        
      </tr>
    <% end %>
    <% else %>
    <% end %>
  </article>
</section>
